#dressName {
  font-family: "Lobster";
  font-size: 1.5rem;
}


#about {
  height: 50%;
  padding: 20% 15%;
}

#costumer {
  width: 25%;
  border-radius: 100%;
  margin: 20px;
}

#rates {
  padding: 20% 15%;
  text-align: center;
  margin: 20px;
  height: 1000px;
}
