#dressName {
  font-family: "Lobster";
  font-size: 1.5rem;
}


#about {
  background-color: rgb(140, 85, 250);
  height: 50%;
  padding: 20% 15%;
}

#costumerImage {
  width: 10%;
  height: 10%;
  border-radius: 100%;
  margin-top: 3%;
}

#costumerName {
  padding-bottom: 5%;
  padding-top: 2%;
}

#rates {
  background-color: rgb(140, 85, 250);
}

#rateText {
  padding-top: 10%;
}
